<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}Clay{% endblock %}</title>
  <link rel="stylesheet" href="/static/normalize.css" />
  <link rel="stylesheet" href="/static/styles.css" />
  <meta name="theme-color" content="#f6f2ef" />
  <link rel="icon" href="/static/favicon.svg" />
  <link rel="mask-icon" href="/static/mask-icon.svg" color="#000000" />
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
  <link rel="manifest" href="/static/manifest.json" />
  <link type="text/plain" rel="author" href="/humans.txt" />
  <meta name="generator" content="Clay (https://github.com/lucuma/clay)" />
  {% block head %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
  <!-- <script>
    domI18n({
      languages: ['es', 'en'],
      selector: '[data-translatable]',
      defaultLanguage: 'es'
    });
  </script> -->
  {% block scripts %}{% endblock %}
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-firestore.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyBhxhk3I2ZfKhdhqMtmg4HlRHK3QtMNVGw",
      authDomain: "faros-80113.firebaseapp.com",
      projectId: "faros-80113",
      storageBucket: "faros-80113.appspot.com",
      messagingSenderId: "1071896100763",
      appId: "1:1071896100763:web:5470692639432399b6eb3e",
      measurementId: "G-R2FBB7YC10"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

  <script src="/static/dom-i18n.min.js"></script>
  <script src="/static/scripts.js"></script>
</body>

</html>