<div id="p5" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p5"></div>
    <h1 class="title-normal" rel="#p5">
      <img class="header--img" src="./static/assets/img/header-3.svg" alt="" />
      <div class="title center">
        <span>4</span>
        <p class="black" data-translatable><span>SCORE</span><span>PARTITURA</span></p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 mb-100">
          <div class="center">
            <p class="text-3" data-translatable><span>“All the Lighthouses of the Peruvian Coast” makes up a modular
                graphic score composed of 56 sections. The notations of each module originate from the lighting and
                structural characteristics of the 56 lighthouses on the coast. </span><span>
                Todos los faros de la costa peruana es una partitura gráfica modular compuesta por 56 secciones. Las
                notaciones de cada módulo tienen como origen las características lumínicas y estructurales de los 56
                faros del litoral.</span>
            </p>
            <p class="text-decoration" data-translatable><span>Instructions</span><span>Instrucciones</p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>1. For any object, instrument or voice.</span><span>
                1. Para cualquier objeto, instrumento o voz.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>2. Before starting the piece, the players are free to choose a
                combination of any two simultaneous sounds to which they can return to at any point in the piece, if
                they so desire.</span><span>
                2. Antes de empezar la pieza, el intérprete tiene la libertad de elegir una combinación de dos sonidos
                simultáneos a la que podrá volver en cualquier punto de la pieza si es que lo desea.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>3. The interpretation of this score can begin with any of the
                modules, discarding one or more, or repeating some others at will. It can also be interpreted with
                several or all of them simultaneously.</span><span>
                3. La interpretación de esta partitura puede comenzar por cualquiera de los módulos, descartar uno o
                varios, o repetir algún otro a voluntad. También puede interpretarse varios o todos ellos de manera
                simultánea.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>4. In each module, the aural ideas are expressed and then followed
                by periods of silence:</span><span>
                4. En cada módulo se despliegan ideas sonoras seguidas por silencios:</span>
            </p>
            <div class="legend mb-lg-60 mb-md-45">
              <div class="legend--item">
                <div class="info">
                  <img class="w-30" src="./static/assets/img/triangulo.svg" alt="" />
                </div>
                <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                <div class="info" data-translatable><span>Short aural ideas</span>
                  <span>Idea sonora corta</span>
                </div>
              </div>
              <div class="legend--item">
                <div class="info">
                  <img class="w-30" src="./static/assets/img/cuadrado.svg" alt="" />
                </div>
                <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                <div class="info" data-translatable><span>Medium aural ideas</span>
                  <span>Idea sonora media</span>
                </div>
              </div>
              <div class="legend--item">
                <div class="info">
                  <img class="w-50" src="./static/assets/img/rectangulo.svg" alt="" />
                </div>
                <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                <div class="info" data-translatable><span>Long aural ideas</span>
                  <span>Idea sonoralarga</span>
                </div>
              </div>
            </div>
            <p class="text-3 pt-20 pb-lg-60 pb-md-45" data-translatable><span>Aural ideas can be the clean sounds of an instrument or
                voice, or some other configuration of sounds. The name “aural ideas” rather than the word “sounds” has
                been used to underline that these are configurations —mixes, noises— and not just musical
                notes.</span><span>
                Ideas sonoras pueden ser sonidos limpios de un instrumento o voz, o también alguna configuración de
                sonidos. Se ha empleado el nombre “ideas sonoras”, y no la palabra “sonidos”, para subrayar que se trata
                de configuraciones —mezclas, ruidos— y no solamente de notas musicales.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>Silences are indicated by the blank space immediately following
                the aural ideas.</span><span>
                Los silencios están indicados por el espacio en blanco inmediatamente consecutivo a las ideas
                sonoras.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>5. The colors mark changes in the character of the performance and
                / or freely chosen techniques.</span><span>
                5. Los colores marcan cambios de carácter de la interpretación y/o de técnica a libre elección.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>6. The position of aural ideas defines their pitch. If they are
                located at the top of the module, they are expected to be higher. The reverse happens if they are
                located at the bottom where they should be lower. Each module generally incorporates the notation for
                duplicated aural ideas at two levels. During the performance these can be alternated and combined. The
                player can also choose to use one or the other interchangeably.</span><span>
                6. La posición de las ideas sonoras define su altura tonal. Si se ubican en la parte superior del
                módulo, se espera que sean más agudas. Sucede lo inverso si se ubican en la parte inferior, cuando deben
                ser más graves. Por lo general cada módulo incorpora la notación de las ideas sonoras duplicadas en dos
                niveles. Durante la interpretación estas pueden alternarse y combinarse; también puede elegirse emplear
                una u otra indistintamente.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>7. Volume is indicated by short lines located at the beginning of
                each module:</span><span>
                7. El volumen está indicado por líneas cortas ubicadas al inicio de cada módulo:</span>
            </p>
            <div class="legend mb-lg-60 mb-md-45">
              <div class="legend--item">
                <div class="info" data-translatable><span>Strong</span>
                  <span>Fuerte</span>
                </div>
                <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                <div class="info">
                  <img class="w-60" src="./static/assets/img/line-1.png" alt="" />
                </div>
              </div>
              <div class="legend--item">
                <div class="info" data-translatable><span>Regular</span>
                  <span>Regular</span>
                </div>
                <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                <div class="info">
                  <img class="w-60" src="./static/assets/img/line-2.png" alt="" />
                </div>
              </div>
              <div class="legend--item">
                <div class="info" data-translatable><span>Soft</span>
                  <span>Suave</span>
                </div>
                <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                <div class="info">
                  <img class="w-60" src="./static/assets/img/line-3.png" alt="" />
                </div>
              </div>
              <div class="legend--item">
                <div class="info" data-translatable><span>Very soft</span>
                  <span>Muy suave</span>
                </div>
                <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                <div class="info">
                  <img class="w-60" src="./static/assets/img/line-4.png" alt="" />
                </div>
              </div>
            </div>
            <p class="text-3 pt-20 pb-lg-60 pb-md-45" data-translatable><span>It is optional whether to maintain the volume indicated at
                the beginning of each module or to reduce it gradually as the end approaches.</span><span>
                Es opcional sostener el volumen indicado al inicio de cada módulo o reducirlo paulatinamente conforme se
                acerca el final.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>8. The tempo is marked at the beginning of each module. There are
                five speeds: very slow, slow, moderate, fast, very fast.</span><span>
                8. El tempo está señalado al inicio de cada módulo. Existen cinco velocidades: muy lento, lento,
                moderado, rápido, muy rápido.</span>
            </p>
            <p class="text-3 pb-lg-60 pb-md-45" data-translatable><span>9. The total duration of the piece is unlimited. </span><span>
                9. La duración total de la pieza es libre. </span>
            </p>
            <a class="c-gray" href="">Descarga la partitura</a>
            <img class="wp-100 mt-20" src="./static/assets/img/partitura.jpg" alt="" />
          </div>
        </div>
        <img class="header--img" src="./static/assets/img/header-3.svg" alt="" />
        <div class="center">
          <p class="text-1" data-translatable><span>All the lighthouses of the peruvian coast is part of the Irradia
              project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span><span>
              Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>