<div id="p9" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p9"></div>
    <h1 class="title-normal" rel="#p9">
      <img class="header--img" src="./static/assets/img/header-4.svg" alt="" />
      <div class="title center">
        <span>8</span>
        <p class="black" data-translatable><span>ACKNOWLEDGMENTS</span><span>AGRADECIMIENTOS</span></p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 mb-100 text-center">
          <div class="center pt-50">
            <p class="m-0">Prado Michael</p>
            <p class="m-0">Vera Rodrigo</p>
            <p class="m-0">Vera Santiago</p>
            <p class="m-0">Ezeta</p>
            <p class="m-0">Leguía</p>
            <p class="m-0">Cáceres</p>
            <p class="m-0">Pillado</p>
            <p class="m-0">Chrem</p>
            <p class="m-0">Paruro</p>
            <p class="m-0">Engelhard</p>
            <p class="m-0">Fathy</p>
            <p class="m-0">Castello Branco</p>
            <p class="m-0">Szendy</p>
            <p class="m-0">Cabrera</p>
            <p class="m-0">Padilla</p>
            <p class="m-0">Gandolfo</p>
            <p class="m-0">Lafferranderie Emilio</p>
            <p class="m-0">Mayer Benjamin</p>
            <p class="m-0">Alvarado Luis</p>
            <p class="m-0">Espinosa</p>
            <p class="m-0">Balarezo</p>
            <p class="m-0">Rodriguez-Arnaiz</p>
            <p class="m-0">Dam Paulo</p>
            <p class="m-0">Bauer Ralph</p>
            <p class="m-0">Bedoya Juan Enrique</p>
            <p class="m-0">Lafferranderie Blas</p>
            <p class="m-0">Lafferranderie Julián</p>
            <p class="m-0">Soenens Janine</p>
            <p class="m-0">Balta Varillas</p>
            <p class="m-0">Lauer Mirko</p>
            <p class="m-0">Ortiz Sotelo</p>
            <p class="m-0">Lerner Sharon</p>
            <p class="m-0">Lavalle Omar</p>
            <p class="m-0">Espinoza Sairah</p>
            <p class="m-0">García de Polavieja Lucia</p>
            <p class="m-0">Yupa Luisa</p>
            <p class="m-0">Hare Pablo</p>
            <p class="m-0">Salas Juan</p>
            <p class="m-0">Prudencio Ignacio</p>
            <p class="m-0">Benetti Laura</p>
            <p class="m-0">Arévalo Antoinette</p>
            <p class="m-0">Acevedo Gabriel</p>
            <p class="m-0">Mariátegui José Carlos</p>
            <p class="m-0">Cussen Felipe</p>
            <p class="m-0">Myers Robin</p>
            <p class="m-0">Representante Anne Carson</p>
            <p class="m-0">Hija de Lucia Castello</p>
            <p class="m-0">Lopez Miguel</p>
          </div>
        </div>
        <img class="header--img" src="./static/assets/img/header-4.svg" alt="" />
        <div class="center advice">
          <p class="text-1" data-translatable>
            <span>All the lighthouses of the peruvian coast is part of the Irradia project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span>
            <span>Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>