<div id="p2" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p2"></div>
    <h1 class="title-normal" rel="#p2">
      <img class="header--img" src="./static/assets/img/header-1.svg" alt="" />
      <div class="title center">
        <span>1</span>
        <p class="black" data-translatable><span>PRESENTATION</span><span>PRESENTACIÓN</span></p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 center">
          <p class="text-3 mb-pres" data-translatable>
            <span>The maritime lighthouses are light signals strung along the coast. The function of each is to guide
              navigators with its own simple but effective code. This guidance takes place during daylight hours as well
              as at night. During daylight hours, these lighthouses distinguish themselves mostly by their physical
              appearance, but during the hours of darkness, their beacons create their particular identities. From the
              lighting and structural characteristics of the 56 lighthouses deployed along the 3,000 kilometers of the
              Peruvian coast, I have developed a graphic score to be freely interpreted by various musicians. </span>
            <span>Los faros marítimos son señales luminosas encadenadas en el litoral. Cada uno de ellos posee un código
              propio, simple pero efectivo, cuya función es orientar a los navegantes. La guía acontece en horas de día
              como en el lapso de noche. En la claridad los faros se diferencian unos de otros por su apariencia física;
              en la oscuridad se identifican por su tipo de luz. A partir de las características lumínicas y
              estructurales
              de los 56 faros desplegados a lo largo de los 3,000 kilómetros del litoral peruano, he desarrollado una
              partitura gráfica para ser interpretada libremente por diversos músicos.</span>
          </p>
          <p class="text-3 mb-pres" data-translatable>
            <span>The individual codes of the lighthouses result in variations that, in succession, evoke the
              physical-geographical peculiarities of the territories that exist along the Peruvian coast. Representing a
              coastline punctuated with a string of lighthouses, the score is a concatenation of graphics, markings and
              instructions that return us to those lighthouses as a source. On the basis of measurable and
              philoscientific data, “All the Lighthouses of the Peruvian Coast” presents a score of open notations that
              assume the indeterminacy of experimental music. </span>
            <span>Los códigos individuales de los faros resultan en variaciones que, en sucesión, evocan las
              peculiaridades
              físico-geográficas existentes en el territorio de la costa peruana. Si la costa es una línea plagada de
              faros, la partitura es una concatenación de gráficos, marcas e instrucciones que nos devuelve a esos faros
              como fuente. Sobre la base de datos mensurables y filocientíficos, Todos los faros de la costa peruana
              presenta una partitura de notaciones abiertas que asume la indeterminación propia de la música
              experimental.</span>
          </p>
          <p class="text-3 mb-pres" data-translatable>
            <span>As part of the public program of this project, I have invited different authors to produce, in each
              case, a text inspired by a specific concept of the nautical language. It is about taking terms related to
              an instructive framework that, decontextualized, lend themselves to multiple poetic and interpretive
              drifts. They lead, among others, to reflections on music, navigation, politics and the present moment in
              the still diffuse post-Covid 19 world order.</span>
            <span>Como parte del programa público de este proyecto he invitado a distintos autores a producir, en cada
              caso,
              un texto inspirado en un concepto específico del lenguaje náutico. Se trata de tomar términos relativos a
              un
              marco instructivo que, descontextualizados, se prestan para múltiples derivas poéticas e interpretativas.
              Ellas conducen a reflexiones sobre música, navegación, política y el momento presente, entre otras, en el
              aún difuso orden mundial post-Covid 19.</span>
          </p>
          <p class="text-3 mb-pres" data-translatable>
            <span>At the crossroads of sound and writing, “All the Llighthouses of the Peruvian Coast” thus forms a
              network of generative notational systems capable of mutually feeding back and diverting each other.</span>
            <span>En el cruce del sonido y la escritura, Todos los faros de la costa peruana conforma así una red de
              sistemas
              notacionales generativos susceptibles de retroalimentarse y desviarse mutuamente.</span>
          </p>
          <div class="pb-30 pt-15">
            <p class="m-0">Luz María Bedoya</p>
            <p class="m-0 c-gray" data-translatable><span>January, 2021</span>
              <span>Enero, 2021</span></p>
          </div>
          <div class="pb-80 mt-40">
            <span class="text-decoration mt-70 mb-30" data-translatable><span>Guests</span><span>Invitados</span></span>
            <ul class="list-name">
              <li>Teresa Cabrera</li>
              <li>Macri Cáceres</li>
              <li>Lucia Castello Branco</li>
              <li>Orieta Chrem</li>
              <li>Vered Engelhard</li>
              <li>Gabriela Ezeta</li>
              <li>Safaa Fathy</li>
              <li>Teté Leguía</li>
              <li>José Ignacio Padilla</li>
              <li>Santiago Pillado</li>
              <li>Paruro</li>
              <li>Peter Szsendy</li>
              <li>Santiago Vera</li>
            </ul>
          </div>
        </div>
        <img class="header--img" src="./static/assets/img/header-1.svg" alt="" />
        <div class="center advice">
          <p class="text-1" data-translatable>
            <span>All the lighthouses of the peruvian coast is part of the Irradia project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span>
            <span>Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>