<div id="p6" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p6"></div>
    <h1 class="title-normal" rel="#p6">
      <img class="header--img" src="./static/assets/img/header-3.svg" alt="" />
      <div class="title center">
        <span>5</span>
        <p class="black" data-translatable><span>INTERPRETATIONS</span><span>INTERPRETACIONES</span></p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 mb-100">
          <div class="center">
            <div class="doble-desktop reverse">
              <div class="doble-desktop--item">
                <p class="text-3" data-translatable><span>Various artists have been invited to interpret the score All
                    the Lighthouses of the Peruvian Coast. Since March 2020 they have been exploring the sonic
                    possibilities of these notations to develop the experimental pieces presented here.</span>
                  <span>Diversos artistas han sido invitados para interpretar la partitura Todos los faros de la costa
                    peruana. Desde marzo de 2020 ellos vienen explorando las posibilidades sonoras de estas notaciones
                    para desarrollar las piezas experimentales aquí presentadas.</span>
                </p>
                <p class="text-3" data-translatable><span>Vocal improvisation, electronic noise, soundscape and
                    performative mapping of the body concur in the performances. The exploration space includes the use
                    of multiple instruments and objects. Double basses, flutes, drums, pututos (ceremonial trumpets),
                    waterphones, steel drums, quartz bowls, oscillators, stones and bells are used in the pieces
                    according to different treatments.</span>
                  <span>En las interpretaciones concurren la improvisación vocal, la electrónica ruidista, el paisaje
                    sonoro y el mapeo performático del cuerpo. El espacio de exploración incluye el uso de múltiples
                    instrumentos y objetos. Contrabajos, flautas, baterías, pututos, aguáfonos, steel drums, cuencos de
                    cuarzo, osciladores, piedras y campanas son empleados en las piezas según distintos
                    tratamientos.</span>
                </p>
              </div>
              <div class="doble-desktop--fijo">
                <p class="text-decoration m-dsk-0 pb-dsk-20" data-translatable>
                  <span>Broadcast program</span>
                  <span>Programa de publicación</span>
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">29.01.21</span> Gabriela Ezeta
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">05.02.21</span> Teté Leguía
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">19.02.21</span> Macri Cáceres
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">05.03.21</span> Vered Engelhard
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">19.03.21</span> Santiago Pillado-Matheu
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">09.04.21</span> Orieta Chrem
                </p>
                <p class="m-dsk-0 pb-dsk-20">
                  <span class="c-gray">23.04.21</span> Paruro
                </p>
                <a class="c-btn" href="">Playlist en SoundCloud</a>
              </div>
            </div>
            <div class="c-tab" id="accordion1">

              <!-- <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>TETÉ ENGELHARD</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">05.02.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <div class="pt-20">
                        <p class="m-0" data-translatable><span>Vocal interpretation</span><span>Interpretación
                            vocal</span></p>
                        <p class="m-0">Gabriela Ezeta</p>
                      </div>
                      <div class="pt-20">
                        <p class="m-0" data-translatable><span>Binaural recording and mixing</span><span>Grabación y
                            mezcla binaural</span></p>
                        <p class="m-0">Orieta Chrem</p>
                      </div>
                      <div class="pt-20 pb-dsk-20">
                        <p class="m-0" data-translatable><span>Direction</span><span>Dirección</span></p>
                        <p class="m-0">Luz María Bedoya</p>
                      </div>
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20" data-translatable><span>Gabriela Ezeta improvised vocal explorations
                          following the instructions and graphic notations of all the 56 modules in the score. This
                          performance of All the Lighthouses of the Peruvian Coast rearranged the North-South modular
                          chaining of the score, the vocal records were edited following a montage procedure without
                          repeating any of them. The piece has a duration of 11 minutes and 40 seconds.</span>
                        <span>Gabriela Ezeta improvisó exploraciones vocales siguiendo las instrucciones y notaciones
                          gráficas
                          de los 56 módulos de la partitura. Esta ejecución de Todos los faros de la costa peruana
                          reordena el encadenamiento modular Norte-Sur de la partitura, los registros vocales fueron
                          editados siguiendo un procedimiento de montaje sin repetir la aparición de ninguno de ellos.
                          La
                          pieza tiene una duración de 11 minutos 40 segundos.</span>
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20" data-translatable><span>Gabriela Ezeta followed a career in Communications
                          and then entered the specialization in classical singing at the National School of Music in
                          Lima. She dropped out of school to venture into jazz and vocal experimentation. At the same
                          time, she participated in various workshops. She studied Voice Theater with Roy Hart, Rhythmic
                          Training with Douglas Tarnawiecki, Voice with Pilar Núñez, Rhythmic Training with Jorge
                          Madueño Romero, Jazz Improvisation with Martin Joseph, and Rhythm with Victoria Santa Cruz.
                          She has performed personal concerts and collaborations with various well recognized
                          artists.</span>
                        <span>Gabriela Ezeta siguió la carrera de Comunicaciones y luego ingresó a la especialidad de
                          canto
                          clásico en la Escuela Nacional de Música en Lima. Abandonó la Escuela para incursionar en el
                          jazz y en la experimentación vocal. Paralelamente participó en diversos talleres. Estudió
                          Teatro
                          de la Voz con Roy Hart, Entrenamiento Rítmico con Douglas Tarnawiecki, Voz con Pilar Núñez,
                          Entrenamiento Rítmico con Jorge Madueño Romero, Improvisación en Jazz con Martin Joseph, y
                          Ritmo
                          con Victoria Santa Cruz. Ha realizado conciertos personales y colaboraciones con distintos
                          artistas del medio.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>MACRI CÁCERES</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">19.02.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <div class="pt-20">
                        <p class="m-0">Interpretación vocal</p>
                        <p class="m-0">Gabriela Ezeta</p>
                      </div>
                      <div class="pt-20">
                        <p class="m-0">Grabación, edición y mezcla binaural</p>
                        <p class="m-0">Orieta Chrem</p>
                      </div>
                      <div class="pt-20 pb-dsk-20">
                        <p class="m-0">Dirección</p>
                        <p class="m-0">Luz María Bedoya</p>
                      </div>
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        Esta pieza fue grabada entre marzo y noviembre de 2020 en
                        días previos a la cuarentena impuesta en el Perú a causa
                        del Covid 19 y durante los meses posteriores al periodo de
                        confinamiento estricto. Inicialmente fue concebida como
                        una composición sonora multicanal, para ser reproducida y
                        escuchada a través de un sistema de 8 parlantes en el
                        interior de un recinto oscurecido, que habría de estar
                        ubicado en el vestíbulo del MALI. Motivos de seguridad
                        sanitaria llevaron a desarrollar la pieza en sonido
                        binaural para ser accedida desde plataformas digitales
                        como la que aquí se presenta. Gabriela Ezeta improvisó
                        exploraciones vocales siguiendo las instrucciones y
                        notaciones gráficas de los 56 módulos de la partitura, las
                        que luego de grabadas fueron combinadas y enlazadas en la
                        mezcla realizada por Orieta Chrem. Los registros vocales
                        fueron editados siguiendo un procedimiento de montaje.
                        Esta ejecución de Todos los faros de la costa peruana
                        reordena el encadenamiento modular Norte-Sur de la
                        partitura; en sus 11 minutos 40 segundos de duración
                        conserva la extensión original de las interpretaciones de
                        cada uno de los 56 módulos sin repetir la aparición de
                        ninguno de ellos.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Gabriela Ezeta estudió la carrera de Comunicaciones y
                        luego ingresó a la especialidad de canto clásico en la
                        Escuela Nacional de Música en Lima. Abandonó la Escuela
                        para incursionar en el jazz y en la experimentación vocal,
                        participando en diversos talleres: Roy Hart Teatro de la
                        Voz, Entrenamiento Rítmico con Douglas Tarnawiecki, Voz
                        con Pilar Nuñez del Grupo Cuatrotablas, Entrenamiento
                        Rítmico con Jorge Madueño Romero, Improvisación en Jazz
                        con Martin Joseph (ENM), y Ritmo con Victoria Santa Cruz.
                        Ha realizado conciertos personales y colaboraciones con
                        distintos artistas del medio.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>Vered Engelhard</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">05.03.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <div class="pt-20">
                        <p class="m-0">Interpretación vocal</p>
                        <p class="m-0">Gabriela Ezeta</p>
                      </div>
                      <div class="pt-20">
                        <p class="m-0">Grabación, edición y mezcla binaural</p>
                        <p class="m-0">Orieta Chrem</p>
                      </div>
                      <div class="pt-20 pb-dsk-20">
                        <p class="m-0">Dirección</p>
                        <p class="m-0">Luz María Bedoya</p>
                      </div>
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        Esta pieza fue grabada entre marzo y noviembre de 2020 en
                        días previos a la cuarentena impuesta en el Perú a causa
                        del Covid 19 y durante los meses posteriores al periodo de
                        confinamiento estricto. Inicialmente fue concebida como
                        una composición sonora multicanal, para ser reproducida y
                        escuchada a través de un sistema de 8 parlantes en el
                        interior de un recinto oscurecido, que habría de estar
                        ubicado en el vestíbulo del MALI. Motivos de seguridad
                        sanitaria llevaron a desarrollar la pieza en sonido
                        binaural para ser accedida desde plataformas digitales
                        como la que aquí se presenta. Gabriela Ezeta improvisó
                        exploraciones vocales siguiendo las instrucciones y
                        notaciones gráficas de los 56 módulos de la partitura, las
                        que luego de grabadas fueron combinadas y enlazadas en la
                        mezcla realizada por Orieta Chrem. Los registros vocales
                        fueron editados siguiendo un procedimiento de montaje.
                        Esta ejecución de Todos los faros de la costa peruana
                        reordena el encadenamiento modular Norte-Sur de la
                        partitura; en sus 11 minutos 40 segundos de duración
                        conserva la extensión original de las interpretaciones de
                        cada uno de los 56 módulos sin repetir la aparición de
                        ninguno de ellos.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Gabriela Ezeta estudió la carrera de Comunicaciones y
                        luego ingresó a la especialidad de canto clásico en la
                        Escuela Nacional de Música en Lima. Abandonó la Escuela
                        para incursionar en el jazz y en la experimentación vocal,
                        participando en diversos talleres: Roy Hart Teatro de la
                        Voz, Entrenamiento Rítmico con Douglas Tarnawiecki, Voz
                        con Pilar Nuñez del Grupo Cuatrotablas, Entrenamiento
                        Rítmico con Jorge Madueño Romero, Improvisación en Jazz
                        con Martin Joseph (ENM), y Ritmo con Victoria Santa Cruz.
                        Ha realizado conciertos personales y colaboraciones con
                        distintos artistas del medio.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>VERED ENGELHARD</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">05.03.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <div class="pt-20">
                        <p class="m-0">Interpretación vocal</p>
                        <p class="m-0">Gabriela Ezeta</p>
                      </div>
                      <div class="pt-20">
                        <p class="m-0">Grabación, edición y mezcla binaural</p>
                        <p class="m-0">Orieta Chrem</p>
                      </div>
                      <div class="pt-20 pb-dsk-20">
                        <p class="m-0">Dirección</p>
                        <p class="m-0">Luz María Bedoya</p>
                      </div>
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        Esta pieza fue grabada entre marzo y noviembre de 2020 en
                        días previos a la cuarentena impuesta en el Perú a causa
                        del Covid 19 y durante los meses posteriores al periodo de
                        confinamiento estricto. Inicialmente fue concebida como
                        una composición sonora multicanal, para ser reproducida y
                        escuchada a través de un sistema de 8 parlantes en el
                        interior de un recinto oscurecido, que habría de estar
                        ubicado en el vestíbulo del MALI. Motivos de seguridad
                        sanitaria llevaron a desarrollar la pieza en sonido
                        binaural para ser accedida desde plataformas digitales
                        como la que aquí se presenta. Gabriela Ezeta improvisó
                        exploraciones vocales siguiendo las instrucciones y
                        notaciones gráficas de los 56 módulos de la partitura, las
                        que luego de grabadas fueron combinadas y enlazadas en la
                        mezcla realizada por Orieta Chrem. Los registros vocales
                        fueron editados siguiendo un procedimiento de montaje.
                        Esta ejecución de Todos los faros de la costa peruana
                        reordena el encadenamiento modular Norte-Sur de la
                        partitura; en sus 11 minutos 40 segundos de duración
                        conserva la extensión original de las interpretaciones de
                        cada uno de los 56 módulos sin repetir la aparición de
                        ninguno de ellos.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Gabriela Ezeta estudió la carrera de Comunicaciones y
                        luego ingresó a la especialidad de canto clásico en la
                        Escuela Nacional de Música en Lima. Abandonó la Escuela
                        para incursionar en el jazz y en la experimentación vocal,
                        participando en diversos talleres: Roy Hart Teatro de la
                        Voz, Entrenamiento Rítmico con Douglas Tarnawiecki, Voz
                        con Pilar Nuñez del Grupo Cuatrotablas, Entrenamiento
                        Rítmico con Jorge Madueño Romero, Improvisación en Jazz
                        con Martin Joseph (ENM), y Ritmo con Victoria Santa Cruz.
                        Ha realizado conciertos personales y colaboraciones con
                        distintos artistas del medio.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>SANTIAGO PILLADO-MATHEU</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">19.03.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <div class="pt-20">
                        <p class="m-0">Interpretación vocal</p>
                        <p class="m-0">Gabriela Ezeta</p>
                      </div>
                      <div class="pt-20">
                        <p class="m-0">Grabación, edición y mezcla binaural</p>
                        <p class="m-0">Orieta Chrem</p>
                      </div>
                      <div class="pt-20 pb-dsk-20">
                        <p class="m-0">Dirección</p>
                        <p class="m-0">Luz María Bedoya</p>
                      </div>
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        Esta pieza fue grabada entre marzo y noviembre de 2020 en
                        días previos a la cuarentena impuesta en el Perú a causa
                        del Covid 19 y durante los meses posteriores al periodo de
                        confinamiento estricto. Inicialmente fue concebida como
                        una composición sonora multicanal, para ser reproducida y
                        escuchada a través de un sistema de 8 parlantes en el
                        interior de un recinto oscurecido, que habría de estar
                        ubicado en el vestíbulo del MALI. Motivos de seguridad
                        sanitaria llevaron a desarrollar la pieza en sonido
                        binaural para ser accedida desde plataformas digitales
                        como la que aquí se presenta. Gabriela Ezeta improvisó
                        exploraciones vocales siguiendo las instrucciones y
                        notaciones gráficas de los 56 módulos de la partitura, las
                        que luego de grabadas fueron combinadas y enlazadas en la
                        mezcla realizada por Orieta Chrem. Los registros vocales
                        fueron editados siguiendo un procedimiento de montaje.
                        Esta ejecución de Todos los faros de la costa peruana
                        reordena el encadenamiento modular Norte-Sur de la
                        partitura; en sus 11 minutos 40 segundos de duración
                        conserva la extensión original de las interpretaciones de
                        cada uno de los 56 módulos sin repetir la aparición de
                        ninguno de ellos.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Gabriela Ezeta estudió la carrera de Comunicaciones y
                        luego ingresó a la especialidad de canto clásico en la
                        Escuela Nacional de Música en Lima. Abandonó la Escuela
                        para incursionar en el jazz y en la experimentación vocal,
                        participando en diversos talleres: Roy Hart Teatro de la
                        Voz, Entrenamiento Rítmico con Douglas Tarnawiecki, Voz
                        con Pilar Nuñez del Grupo Cuatrotablas, Entrenamiento
                        Rítmico con Jorge Madueño Romero, Improvisación en Jazz
                        con Martin Joseph (ENM), y Ritmo con Victoria Santa Cruz.
                        Ha realizado conciertos personales y colaboraciones con
                        distintos artistas del medio.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>ORIETA CHREM</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">09.04.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <div class="pt-20">
                        <p class="m-0">Interpretación vocal</p>
                        <p class="m-0">Gabriela Ezeta</p>
                      </div>
                      <div class="pt-20">
                        <p class="m-0">Grabación, edición y mezcla binaural</p>
                        <p class="m-0">Orieta Chrem</p>
                      </div>
                      <div class="pt-20 pb-dsk-20">
                        <p class="m-0">Dirección</p>
                        <p class="m-0">Luz María Bedoya</p>
                      </div>
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        Esta pieza fue grabada entre marzo y noviembre de 2020 en
                        días previos a la cuarentena impuesta en el Perú a causa
                        del Covid 19 y durante los meses posteriores al periodo de
                        confinamiento estricto. Inicialmente fue concebida como
                        una composición sonora multicanal, para ser reproducida y
                        escuchada a través de un sistema de 8 parlantes en el
                        interior de un recinto oscurecido, que habría de estar
                        ubicado en el vestíbulo del MALI. Motivos de seguridad
                        sanitaria llevaron a desarrollar la pieza en sonido
                        binaural para ser accedida desde plataformas digitales
                        como la que aquí se presenta. Gabriela Ezeta improvisó
                        exploraciones vocales siguiendo las instrucciones y
                        notaciones gráficas de los 56 módulos de la partitura, las
                        que luego de grabadas fueron combinadas y enlazadas en la
                        mezcla realizada por Orieta Chrem. Los registros vocales
                        fueron editados siguiendo un procedimiento de montaje.
                        Esta ejecución de Todos los faros de la costa peruana
                        reordena el encadenamiento modular Norte-Sur de la
                        partitura; en sus 11 minutos 40 segundos de duración
                        conserva la extensión original de las interpretaciones de
                        cada uno de los 56 módulos sin repetir la aparición de
                        ninguno de ellos.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Gabriela Ezeta estudió la carrera de Comunicaciones y
                        luego ingresó a la especialidad de canto clásico en la
                        Escuela Nacional de Música en Lima. Abandonó la Escuela
                        para incursionar en el jazz y en la experimentación vocal,
                        participando en diversos talleres: Roy Hart Teatro de la
                        Voz, Entrenamiento Rítmico con Douglas Tarnawiecki, Voz
                        con Pilar Nuñez del Grupo Cuatrotablas, Entrenamiento
                        Rítmico con Jorge Madueño Romero, Improvisación en Jazz
                        con Martin Joseph (ENM), y Ritmo con Victoria Santa Cruz.
                        Ha realizado conciertos personales y colaboraciones con
                        distintos artistas del medio.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>PARURO</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">23.04.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <div class="pt-20">
                        <p class="m-0">Interpretación vocal</p>
                        <p class="m-0">Gabriela Ezeta</p>
                      </div>
                      <div class="pt-20">
                        <p class="m-0">Grabación, edición y mezcla binaural</p>
                        <p class="m-0">Orieta Chrem</p>
                      </div>
                      <div class="pt-20 pb-dsk-20">
                        <p class="m-0">Dirección</p>
                        <p class="m-0">Luz María Bedoya</p>
                      </div>
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        Esta pieza fue grabada entre marzo y noviembre de 2020 en
                        días previos a la cuarentena impuesta en el Perú a causa
                        del Covid 19 y durante los meses posteriores al periodo de
                        confinamiento estricto. Inicialmente fue concebida como
                        una composición sonora multicanal, para ser reproducida y
                        escuchada a través de un sistema de 8 parlantes en el
                        interior de un recinto oscurecido, que habría de estar
                        ubicado en el vestíbulo del MALI. Motivos de seguridad
                        sanitaria llevaron a desarrollar la pieza en sonido
                        binaural para ser accedida desde plataformas digitales
                        como la que aquí se presenta. Gabriela Ezeta improvisó
                        exploraciones vocales siguiendo las instrucciones y
                        notaciones gráficas de los 56 módulos de la partitura, las
                        que luego de grabadas fueron combinadas y enlazadas en la
                        mezcla realizada por Orieta Chrem. Los registros vocales
                        fueron editados siguiendo un procedimiento de montaje.
                        Esta ejecución de Todos los faros de la costa peruana
                        reordena el encadenamiento modular Norte-Sur de la
                        partitura; en sus 11 minutos 40 segundos de duración
                        conserva la extensión original de las interpretaciones de
                        cada uno de los 56 módulos sin repetir la aparición de
                        ninguno de ellos.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Gabriela Ezeta estudió la carrera de Comunicaciones y
                        luego ingresó a la especialidad de canto clásico en la
                        Escuela Nacional de Música en Lima. Abandonó la Escuela
                        para incursionar en el jazz y en la experimentación vocal,
                        participando en diversos talleres: Roy Hart Teatro de la
                        Voz, Entrenamiento Rítmico con Douglas Tarnawiecki, Voz
                        con Pilar Nuñez del Grupo Cuatrotablas, Entrenamiento
                        Rítmico con Jorge Madueño Romero, Improvisación en Jazz
                        con Martin Joseph (ENM), y Ritmo con Victoria Santa Cruz.
                        Ha realizado conciertos personales y colaboraciones con
                        distintos artistas del medio.
                      </p>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <img class="header--img" src="./static/assets/img/header-3.svg" alt="" />
        <div class="center advice">
          <p class="text-1" data-translatable>
            <span>All the lighthouses of the peruvian coast is part of the Irradia project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span>
            <span>Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>