<div id="p3" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p3"></div>
    <h1 class="title-normal" rel="#p3">
      <img class="header--img" src="./static/assets/img/header-2.svg" alt="" />
      <div class="title center">
        <span>2</span>
        <p class="black" data-translatable><span>LIGHTHOUSES</span><span>FAROS</span></p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <!-- <span class="arrow-back">
      <img src="./static/assets/img/arrow-back.svg" alt="" />
    </span> -->

    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 center">
          <p class="text-3 pb-80" data-translatable><span>Currently 56 lighthouses built between 1928 and 2008 punctuate
              the coast of Peru</span><span>Actualmente la costa del Perú está puntuada por
              56 faros construidos entre 1928 y 2008.</span>
          </p>
          <div class="list-faros" id="placesList">
            <!-- <div class="list-faros--item">
              <div class="list-faros--item--title">
                <div>
                  <p class="m-0"><span class="c-gray">01</span> PUNTA CAPONES</p>
                  <p class="m-0">Punta Capones, Tumbes</p>
                </div>
                <span>1957</span>
              </div>
              <div class="list-faros--item--info">
                <span class="c-gray">03º24’43” S - 80º18’46” W</span>
                <img src="./static/assets/img/point.svg" alt="" />
              </div>
            </div>
            <div class="list-faros--item">
              <div class="list-faros--item--title">
                <div>
                  <p class="m-0"><span class="c-gray">01</span> PUNTA CAPONES</p>
                  <p class="m-0">Punta Capones, Tumbes</p>
                </div>
                <span>1957</span>
              </div>
              <div class="list-faros--item--info">
                <span class="c-gray">03º24’43” S - 80º18’46” W</span>
                <img src="./static/assets/img/point.svg" alt="" />
              </div>
            </div>
            <div class="list-faros--item">
              <div class="list-faros--item--title">
                <div>
                  <p class="m-0"><span class="c-gray">01</span> PUNTA CAPONES</p>
                  <p class="m-0">Punta Capones, Tumbes</p>
                </div>
                <span>1957</span>
              </div>
              <div class="list-faros--item--info">
                <span class="c-gray">03º24’43” S - 80º18’46” W</span>
                <img src="./static/assets/img/point.svg" alt="" />
              </div>
            </div> -->
          </div>
        </div>
        <img class="header--img" src="./static/assets/img/header-2.svg" alt="" />
        <div class="center">
          <p class="text-1" data-translatable><span>All the lighthouses of the peruvian coast is part of the Irradia
              project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span><span>
              Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>