<div id="p7" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p7"></div>
    <h1 class="title-normal" rel="#p7">
      <img class="header--img" src="./static/assets/img/header-3.svg" alt="" />
      <div class="title center">
        <span>6</span>
        <p>PODCASTS</p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 mb-100">
          <div class="center">
            <div class="doble-desktop reverse">
              <div class="doble-desktop--item">
                <p class="text-3" data-translatable><span>As part of the public program of All the Lighthouses of the
                    Peruvian Coast different authors were invited to write and record a text inspired by certain
                    specific concepts of the nautical language. The proposal seeks to extend the meanings of this
                    terminology beyond the limits of navigation and to promote multiple poetic and interpretative
                    drifts.</span>
                  <span>Como parte del programa público de Todos los faros de la costa peruana se invitó a distintos
                    autores a
                    escribir y grabar un texto inspirado en ciertos conceptos específicos del lenguaje de la navegación.
                    La propuesta busca extender las acepciones de esta terminología más allá de los límites de la
                    náutica
                    y propiciar múltiples derivas poéticas e interpretativas.</span>
                </p>
              </div>
              <div class="doble-desktop--fijo">
                <p class="text-decoration m-dsk-0 pb-dsk-20" data-translatable><span>Broadcast program</span>
                  <span>Programa de publicación</span>
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">29.01.21</span> <span data-translatable><span>Lubber line</span><span>linea de
                      fe</span></span>
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">12.02.21</span> <span data-translatable><span>Tracing the
                      track</span><span>Trazado de la derrota</span></span>
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">26.02.21</span> <span data-translatable><span>Blind signal</span><span>Señal
                      ciega</span></span>
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">12.03.21</span> <span data-translatable><span>Tilt and
                      drift</span><span>Abatimiento y deriva</span></span>
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">26.03.21</span> <span data-translatable><span>True bearing</span><span>Demora
                      verdadera</span></span>
                </p>
                <p class="m-dsk-0">
                  <span class="c-gray">16.04.21</span> <span data-translatable><span>Angle of
                      uncertainty</span><span>Ángulo de incertidumbre</span></span>
                </p>
                <p class="m-dsk-0 pb-dsk-20">
                  <span class="c-gray">30.04.21</span> <span data-translatable><span>Compensation of
                      deviations</span><span>Compensación de los desvíos</span></span>
                </p>
                <a class="c-btn" href="">Playlist en SoundCloud</a>
              </div>
            </div>
            <div class="c-tab">
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p data-translatable><span>LUBBER LINE</span><span>LÍNEA DE FE</span></p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">29.01.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <!-- <img class="m-none" src="./static/assets/img/reproductor.png" alt="" /> -->
                      <div class="reproductor">
                        <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay"
                          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/970250623&color=%23ff5500&inverse=false&auto_play=false&show_user=true"></iframe>
                        <div
                          style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                          <a href="https://soundcloud.com/museodeartelima" title="MALI" target="_blank"
                            style="color: #cccccc; text-decoration: none;">MALI</a> · <a
                            href="https://soundcloud.com/museodeartelima/todoslosfaros-interpretacion-1-gabriela-ezeta"
                            title="[#TodosLosFaros] Interpretación #1: Gabriela Ezeta" target="_blank"
                            style="color: #cccccc; text-decoration: none;">[#TodosLosFaros] Interpretación #1: Gabriela
                            Ezeta</a></div>
                      </div>
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20" data-translatable><span>The magnetic compass allows boaters to know the
                          heading of a ship. It is a piece made up of a magnetized needle placed on a light disc where
                          the 360º of the compass have been etched. The needle and disk are inside a circular container
                          with a small mark on the edge that corresponds to the front of the vessel. This mark is called
                          the lubber line.</span>
                        <span>El compás magnético permite a los navegantes conocer el rumbo de una embarcación. Se
                          trata de
                          una pieza compuesta por una aguja imantada colocada sobre un disco ligero en donde se han
                          acuñado los 360º del horizonte. La aguja y el disco se encuentran en el interior de un
                          recipiente circular en cuyo borde se observa una pequeña marca. Esta marca es llamada línea de
                          fe.</span>
                      </p>
                      <!-- <div class="text-center">
                        <div class="reproductor">
                          <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/970250623&color=%23ff5500&inverse=false&auto_play=false&show_user=true"></iframe>
                          <div
                            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                            <a href="https://soundcloud.com/museodeartelima" title="MALI" target="_blank"
                              style="color: #cccccc; text-decoration: none;">MALI</a> · <a
                              href="https://soundcloud.com/museodeartelima/todoslosfaros-interpretacion-1-gabriela-ezeta"
                              title="[#TodosLosFaros] Interpretación #1: Gabriela Ezeta" target="_blank"
                              style="color: #cccccc; text-decoration: none;">[#TodosLosFaros] Interpretación #1:
                              Gabriela
                              Ezeta</a></div>
                        </div>
                      </div> -->
                      <p class="text-3 pt-20" data-translatable><span>Santiago Vera is a Peruvian poet and author of
                          “Volumenes Silenciosos” (La Crema, 2012) and “Libro de las Opiniones” (Paracaídas, 2014;
                          Liliputienses, 2019). He completed a master's degree in Philosophy at the Pontificia
                          Universidad Católica del Perú and specializes in aesthetics and philosophy of language. He is
                          a founding member of the poetry and research platform “Ánima Lisa” and is part of the
                          editorial team of the poetry and critic magazine “Pesapalabra”. </span>
                        <span>Santiago Vera es un poeta peruano autor de Volúmenes silenciosos (La Crema, 2012) y Libro
                          de las
                          opiniones (Paracaídas, 2014; Liliputienses, 2019). Culminó estudios de maestría en Filosofía
                          en
                          la Pontificia Universidad Católica del Perú y se especializa en temas de estética y filosofía
                          del lenguaje. Es miembro fundador de la plataforma de poesía e investigación Ánima Lisa y
                          parte
                          del equipo editorial de la revista de poesía y crítica Pesapalabra.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>TRAZADO DE LA DERROTA</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">12.02.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        El compás magnético permite a los navegantes conocer el
                        rumbo de una embarcación. Se trata de una pieza compuesta
                        por una aguja imantada colocada sobre un disco ligero en
                        donde se han acuñado los 360º del horizonte. La aguja y el
                        disco se encuentran en el interior de un recipiente
                        circular en cuyo borde se observa una pequeña marca
                        llamada línea de fe.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Santiago Vera es un poeta peruano, autor de “Volúmenes
                        silenciosos” (la Crema, 2012) y “Libro de las opiniones”
                        (Paracaídas, 2014; Liliputienses, 2019). Ha culminado
                        estudios de maestría en Filosofía en la Pontificia
                        Universidad Católica del Perú y se especializa en temas de
                        estética y filosofía del lenguaje. Es además miembro
                        fundador de la plataforma de poesía e investigación Ánima
                        Lisa y forma parte del equipo editorial de la revista de
                        poesía y crítica Pesapalabra.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>SEÑAL CIEGA</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">26.02.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        El compás magnético permite a los navegantes conocer el
                        rumbo de una embarcación. Se trata de una pieza compuesta
                        por una aguja imantada colocada sobre un disco ligero en
                        donde se han acuñado los 360º del horizonte. La aguja y el
                        disco se encuentran en el interior de un recipiente
                        circular en cuyo borde se observa una pequeña marca
                        llamada línea de fe.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Santiago Vera es un poeta peruano, autor de “Volúmenes
                        silenciosos” (la Crema, 2012) y “Libro de las opiniones”
                        (Paracaídas, 2014; Liliputienses, 2019). Ha culminado
                        estudios de maestría en Filosofía en la Pontificia
                        Universidad Católica del Perú y se especializa en temas de
                        estética y filosofía del lenguaje. Es además miembro
                        fundador de la plataforma de poesía e investigación Ánima
                        Lisa y forma parte del equipo editorial de la revista de
                        poesía y crítica Pesapalabra.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>ABATIMIENTO Y DERIVA</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">12.03.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <div class="doble-desktop">
                    <div class="doble-desktop--fijo">
                      <img class="m-none" src="./static/assets/img/reproductor.png" alt="" />
                    </div>
                    <div class="doble-desktop--item">
                      <p class="text-3 pt-20">
                        El compás magnético permite a los navegantes conocer el
                        rumbo de una embarcación. Se trata de una pieza compuesta
                        por una aguja imantada colocada sobre un disco ligero en
                        donde se han acuñado los 360º del horizonte. La aguja y el
                        disco se encuentran en el interior de un recipiente
                        circular en cuyo borde se observa una pequeña marca
                        llamada línea de fe.
                      </p>
                      <div class="text-center">
                        <img class="d-none" src="./static/assets/img/reproductor.png" alt="" />
                      </div>
                      <p class="text-3 pt-20">
                        Santiago Vera es un poeta peruano, autor de “Volúmenes
                        silenciosos” (la Crema, 2012) y “Libro de las opiniones”
                        (Paracaídas, 2014; Liliputienses, 2019). Ha culminado
                        estudios de maestría en Filosofía en la Pontificia
                        Universidad Católica del Perú y se especializa en temas de
                        estética y filosofía del lenguaje. Es además miembro
                        fundador de la plataforma de poesía e investigación Ánima
                        Lisa y forma parte del equipo editorial de la revista de
                        poesía y crítica Pesapalabra.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>DEMORA VERDADERA</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">26.03.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <p class="text-3 pt-20">
                    Esta pieza fue grabada entre marzo y noviembre de 2020 en días
                    previos a la cuarentena impuesta en el Perú a causa del Covid
                    19 y durante los meses posteriores al periodo de confinamiento
                    estricto. Inicialmente fue concebida como una composición
                    sonora multicanal, para ser reproducida y escuchada a través
                    de un sistema de 8 parlantes en el interior de un recinto
                    oscurecido, que habría de estar ubicado en el vestíbulo del
                    MALI. Motivos de seguridad sanitaria llevaron a desarrollar la
                    pieza en sonido binaural para ser accedida desde plataformas
                    digitales como la que aquí se presenta. Gabriela Ezeta
                    improvisó exploraciones vocales siguiendo las instrucciones y
                    notaciones gráficas de los 56 módulos de la partitura, las que
                    luego de grabadas fueron combinadas y enlazadas en la mezcla
                    realizada por Orieta Chrem. Los registros vocales fueron
                    editados siguiendo un procedimiento de montaje. Esta ejecución
                    de Todos los faros de la costa peruana reordena el
                    encadenamiento modular Norte-Sur de la partitura; en sus 11
                    minutos 40 segundos de duración conserva la extensión original
                    de las interpretaciones de cada uno de los 56 módulos sin
                    repetir la aparición de ninguno de ellos.
                  </p>
                  <div class="text-center">
                    <img src="./static/assets/img/reproductor.png" alt="" />
                  </div>
                  <p class="text-3 pt-20">
                    Gabriela Ezeta estudió la carrera de Comunicaciones y luego
                    ingresó a la especialidad de canto clásico en la Escuela
                    Nacional de Música en Lima. Abandonó la Escuela para
                    incursionar en el jazz y en la experimentación vocal,
                    participando en diversos talleres: Roy Hart Teatro de la Voz,
                    Entrenamiento Rítmico con Douglas Tarnawiecki, Voz con Pilar
                    Nuñez del Grupo Cuatrotablas, Entrenamiento Rítmico con Jorge
                    Madueño Romero, Improvisación en Jazz con Martin Joseph (ENM),
                    y Ritmo con Victoria Santa Cruz. Ha realizado conciertos
                    personales y colaboraciones con distintos artistas del medio.
                  </p>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>ÁNGULO DE INCERTIDUMBRE</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">16.04.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <p class="text-3 pt-20">
                    Esta pieza fue grabada entre marzo y noviembre de 2020 en días
                    previos a la cuarentena impuesta en el Perú a causa del Covid
                    19 y durante los meses posteriores al periodo de confinamiento
                    estricto. Inicialmente fue concebida como una composición
                    sonora multicanal, para ser reproducida y escuchada a través
                    de un sistema de 8 parlantes en el interior de un recinto
                    oscurecido, que habría de estar ubicado en el vestíbulo del
                    MALI. Motivos de seguridad sanitaria llevaron a desarrollar la
                    pieza en sonido binaural para ser accedida desde plataformas
                    digitales como la que aquí se presenta. Gabriela Ezeta
                    improvisó exploraciones vocales siguiendo las instrucciones y
                    notaciones gráficas de los 56 módulos de la partitura, las que
                    luego de grabadas fueron combinadas y enlazadas en la mezcla
                    realizada por Orieta Chrem. Los registros vocales fueron
                    editados siguiendo un procedimiento de montaje. Esta ejecución
                    de Todos los faros de la costa peruana reordena el
                    encadenamiento modular Norte-Sur de la partitura; en sus 11
                    minutos 40 segundos de duración conserva la extensión original
                    de las interpretaciones de cada uno de los 56 módulos sin
                    repetir la aparición de ninguno de ellos.
                  </p>
                  <div class="text-center">
                    <img src="./static/assets/img/reproductor.png" alt="" />
                  </div>
                  <p class="text-3 pt-20">
                    Gabriela Ezeta estudió la carrera de Comunicaciones y luego
                    ingresó a la especialidad de canto clásico en la Escuela
                    Nacional de Música en Lima. Abandonó la Escuela para
                    incursionar en el jazz y en la experimentación vocal,
                    participando en diversos talleres: Roy Hart Teatro de la Voz,
                    Entrenamiento Rítmico con Douglas Tarnawiecki, Voz con Pilar
                    Nuñez del Grupo Cuatrotablas, Entrenamiento Rítmico con Jorge
                    Madueño Romero, Improvisación en Jazz con Martin Joseph (ENM),
                    y Ritmo con Victoria Santa Cruz. Ha realizado conciertos
                    personales y colaboraciones con distintos artistas del medio.
                  </p>
                </div>
              </div>
              <div class="c-tab--items">
                <div class="c-tab--items--header">
                  <p>COMPENSACIÓN DE LOS DESVÍOS</p>
                  <div class="info">
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
                    <span class="c-gray ml-5">30.04.21</span>
                  </div>
                </div>
                <div class="c-tab--items--content">
                  <p class="text-3 pt-20">
                    Esta pieza fue grabada entre marzo y noviembre de 2020 en días
                    previos a la cuarentena impuesta en el Perú a causa del Covid
                    19 y durante los meses posteriores al periodo de confinamiento
                    estricto. Inicialmente fue concebida como una composición
                    sonora multicanal, para ser reproducida y escuchada a través
                    de un sistema de 8 parlantes en el interior de un recinto
                    oscurecido, que habría de estar ubicado en el vestíbulo del
                    MALI. Motivos de seguridad sanitaria llevaron a desarrollar la
                    pieza en sonido binaural para ser accedida desde plataformas
                    digitales como la que aquí se presenta. Gabriela Ezeta
                    improvisó exploraciones vocales siguiendo las instrucciones y
                    notaciones gráficas de los 56 módulos de la partitura, las que
                    luego de grabadas fueron combinadas y enlazadas en la mezcla
                    realizada por Orieta Chrem. Los registros vocales fueron
                    editados siguiendo un procedimiento de montaje. Esta ejecución
                    de Todos los faros de la costa peruana reordena el
                    encadenamiento modular Norte-Sur de la partitura; en sus 11
                    minutos 40 segundos de duración conserva la extensión original
                    de las interpretaciones de cada uno de los 56 módulos sin
                    repetir la aparición de ninguno de ellos.
                  </p>
                  <div class="text-center">
                    <img src="./static/assets/img/reproductor.png" alt="" />
                  </div>
                  <p class="text-3 pt-20">
                    Gabriela Ezeta estudió la carrera de Comunicaciones y luego
                    ingresó a la especialidad de canto clásico en la Escuela
                    Nacional de Música en Lima. Abandonó la Escuela para
                    incursionar en el jazz y en la experimentación vocal,
                    participando en diversos talleres: Roy Hart Teatro de la Voz,
                    Entrenamiento Rítmico con Douglas Tarnawiecki, Voz con Pilar
                    Nuñez del Grupo Cuatrotablas, Entrenamiento Rítmico con Jorge
                    Madueño Romero, Improvisación en Jazz con Martin Joseph (ENM),
                    y Ritmo con Victoria Santa Cruz. Ha realizado conciertos
                    personales y colaboraciones con distintos artistas del medio.
                  </p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <img class="header--img" src="./static/assets/img/header-3.svg" alt="" />
        <div class="center advice">
          <p class="text-1" data-translatable>
            <span>All the lighthouses of the peruvian coast is part of the Irradia project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span>
            <span>Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>