<div id="p8" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p8"></div>
    <h1 class="title-normal" rel="#p8">
      <img class="header--img" src="./static/assets/img/header-4.svg" alt="" />
      <div class="title center">
        <span>7</span>
        <p class="black" data-translatable><span>CREDITS</span><span>CRÉDITOS</span></p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 mb-100">
          <div class="center">
            <div class="text-center pb-30">
              <img class="w-200" src="./static/assets/img/irradia.jpg" alt="" />
            </div>
            <p class="text-3 pb-80">
              <b>Irradia. Arte + Tecnología.</b> Proyecto que utiliza los medios de
              producción digital como fuente de inspiración y estímulo para la
              creación artística, incentivando el uso de herramientas inmersivas y
              la exploración de nuevos lenguajes audiovisuales. Este programa, que
              tendrá lugar en el vestíbulo principal del MALI, propone una
              relación más dinámica entre el espectador y el espacio expositivo,
              interconectado los límites entre el espacio imaginario y físico.
            </p>
            <div class="box-img">
              <div class="box-img--item">
                <img src="./static/assets/img/creditos.svg" alt="" />
              </div>
            </div>
            <div class="text-center pt-50">
              <div class="pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Espacio fundación telefónica</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Elizabeth Galdo Marin</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Lucía García de Polavieja</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Reina Jara</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Omar Lavalle</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Jose Carlos Goytizolo</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Juanita Gabriel</p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Museo de Arte de Lima - MALI</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Sairah Espinoza</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Sharon Lerner</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">José Carlos Mariátegui</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Patricia Villanueva</p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Diseño web</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Michael Prado</p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Programación web</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Lucuma Labs</p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Producción podcast</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Renzo Belón</p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Asesoría musical & Paisaje sonoro podcasts</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Teté Leguía</p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Locución</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Micky Bane</p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Diagramación partitura</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Natalia Revilla </p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Traducción</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Julia Branco</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Max Hernández Calvo</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Denisse Martínez</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Robin Myers</p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">Servidioma</p>
              </div>
              <div class="mt-20 pt-md-45 pt-lg-60">
                <p class="m-0 lh--20 lh-md--36 lh-lg--46"><b>Fotografía de faros</b></p>
                <p class="m-0 lh--20 lh-md--36 lh-lg--46">José Balta</p>
              </div>
            </div>
          </div>
        </div>
        <img class="header--img" src="./static/assets/img/header-4.svg" alt="" />
        <div class="center advice">
          <p class="text-1" data-translatable>
            <span>All the lighthouses of the peruvian coast is part of the Irradia project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span>
            <span>Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>