<div id="p4" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p4"></div>
    <h1 class="title-normal" rel="#p4">
      <img class="header--img" src="./static/assets/img/header-2.svg" alt="" />
      <div class="title center">
        <span>3</span>
        <p class="black" data-translatable><span>NAVIGATION</span><span>NAVEGACIÓN</span></p>
      </div>
    </h1>
    <span class="closer" id="closerNav">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>

    <span class="arrow-back" id="closerSect">
      <img src="./static/assets/img/arrow-back.svg" alt="" />
    </span>

    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 center" id="texto-intro">
          <p class="text-3 pb-80 pt-30" data-translatable>
            <span>Each of the 56 lighthouses on the Peruvian coast has its own unique physical and operational
              characteristics. These can be the colors and design of the tower, the focal height of the beacon, the
              period of illumination of the beacon, intensity and visual range. These characteristics have been re-coded
              in order to compose a graphic score of 56 modules. According to a system of correspondences that go from
              calculation to indeterminacy, it is a search to delineate musical parameters of open interpretation.
            </span>
            <span>Cada uno de los 56 faros de la costa peruana posee características físicas y operativas singulares:
              colores y diseño de la torre, altura focal, periodo lumínico, intensidad y alcance visual. Estas
              características han sido recodificadas para componer una partitura gráfica de 56 módulos. Según un sistema
              de correspondencias que transitan del cálculo a la indeterminación se busca delinear parámetros musicales
              de interpretación abierta.</span>
          </p>
        </div>
        <div class="mb-100">
          <!-- TABS -->
          <div id="trigger-container" class="tabs">
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab1">
                <span data-translatable><span>POWER</span><span>POTENCIA</span></span>
                <img src="./static/assets/img/arrow.svg" alt="">
                <span data-translatable><span>VOLUME</span><span>VOLUMEN</span></span>
              </div>
            </div>
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab2">
                <span data-translatable><span>FOCAL HEIGHT</span><span>ALTURA</span></span>
                <img src="./static/assets/img/arrow.svg" alt="">
                <span data-translatable><span>TEMPO</span><span>TEMPO</span></span>
              </div>
            </div>
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab3">
                <span data-translatable><span>PERIOD</span><span>PERIODO</span></span>
                <img src="./static/assets/img/arrow.svg" alt="">
                <span data-translatable><span>RYTHM</span><span>RITMO</span></span>
              </div>
            </div>
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab4">
                <span data-translatable><span>RANGE</span><span>ALCANCE</span></span>
                <img src="./static/assets/img/arrow.svg" alt="">
                <span data-translatable><span>TONE</span><span>TONO</span></span>
              </div>
            </div>
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab5">
                <span data-translatable><span>COLOR</span><span>COLOR</span></span>
                <img src="./static/assets/img/arrow.svg" alt="">
                <span data-translatable><span>CHARACTER</span><span>CARACTER</span></span>
              </div>
            </div>
          </div>
          <div id="tab-container" class="tab-content">
            <!-- POTENCIA Y VOLUMEN -->
            {% include 'tab1.html' %}

            <!-- ALTURA Y TEMPO -->
            {% include 'tab2.html' %}

            <!-- PERIODO Y RITMO -->
            {% include 'tab3.html' %}

            <!-- ALCANCE Y TONO -->
            {% include 'tab4.html' %}

            <!-- COLOR Y CARACTER -->
            {% include 'tab5.html' %}

          </div>
        </div>

        <img class="header--img" src="./static/assets/img/header-2.svg" alt="" />
        <div class="center advice">
          <p class="text-1" data-translatable>
            <span>All the lighthouses of the peruvian coast is part of the Irradia project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span>
            <span>Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>