<div id="p1" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p1"></div>
    <h1 class="title-normal">
      <img class="header--img" src="./static/assets/img/header-1.svg" alt="" />
      <div class="center">
        <div class="language">
          <div class="spanish active" id="english-changer">
            <span>ESPAÑOL</span>
            <img src="./static/assets/img/language.svg" alt="" />
          </div>
          <div class="english" id="spanish-changer">
            <img src="./static/assets/img/language.svg" alt="" />
            <span>ENGLISH</span>
          </div>
        </div>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <p class="text-1 center" data-translatable>
          <span>All the lighthouses of the peruvian coast is part of the Irradia project,
            a joint initiative of MALI and the Fundación Telefónica Movistar to
            promote the use of digital means of production as
            encouragement for artistic creation.</span>
          <span>Todos los faros de la costa peruana forma parte del proyecto Irradia,
            una iniciativa conjunta del MALI y la Fundación Telefónica Movistar para
            promover la utilización de los medios de producción digital como
            estímulo para la creación artística.</span>
        </p>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>