<div id="tab1" class="tab-content-item">
  <div class="tabs-item">
    <div class="triangulo"></div>
    <div class="tabs-item--text">
      <span data-translatable><span>POWER</span><span>POTENCIA</span></span>
      <img src="./static/assets/img/arrow.svg" alt="">
      <span data-translatable><span>VOLUME</span><span>VOLUMEN</span></span>
    </div>
  </div>
  <div class="box-shadow pl-15 pr-15">
    <div class="center">
      <div class="pt-30 pb-30">
        <p class="text-3" data-translatable><span>The luminous power of a lighthouse beacon is expressed in candelas. In
            the score for “All the Lighthouses on the Peruvian Coast”, the candelas have been transformed into the
            intensity of sound. The volume designated in each module of the score will be higher or lower depending on
            the number of candelas emanating from the lighthouse to which the respective module refers. </span>
          <span>La potencia luminosa de un faro se expresa en candelas (cd). En la partitura Todos los faros de la costa
            peruana la potencia luminosa se ha transformado en la intensidad del sonido. El volumen designado en cada
            módulo de la partitura será más alto o más bajo dependiendo de la cantidad de candelas emanadas del faro al
            que el módulo respectivo remite.</span>
        </p>
      </div>
      <div class="legend">
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">+ 100 001 cd</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <img class="w-60" src="./static/assets/img/line-1.png" alt="" />
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">25 001 - 100 001 cd</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <img class="w-60" src="./static/assets/img/line-2.png" alt="" />
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">2001 - 25 000 cd</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <img class="w-60" src="./static/assets/img/line-3.png" alt="" />
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">0 - 2000 cd</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <img class="w-60" src="./static/assets/img/line-4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="language pl-0 pr-0">
        <div class="spanish active">
          <span data-translatable><span>POWER</span><span>POTENCIA</span></span>
          <img src="./static/assets/img/language.svg" alt="" />
        </div>
        <div class="english">
          <img src="./static/assets/img/language.svg" alt="" />
          <span data-translatable><span>VOLUME</span><span>VOLUMEN</span></span>
        </div>
      </div>
      <!-- POTENCIA -->
      <div class="d-potencia" id="potenceItems">
        <!-- <div class="box-container-items bb-dkt-3">
          <div class="box-1 cat1 active">
            <div class="box-1--item">
              <span class="c-gray">+ 100 001 cd</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">25 001 - 100 001 cd</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">2001 - 25 000 cd</span>
            </div>
            <div class="box-1--item">
              <span>835 cd</span>
            </div>
          </div>
          <div class="box-1 cat2 percent" data-percentage="25">
            <div class="box-1--graphic">
              <div class="graphic-black"></div>
            </div>
          </div>
        </div>
        <div class="box-container-items bb-dkt-3">
          <div class="box-1 cat1 active">
            <div class="box-1--item">
              <span class="c-gray">+ 100 001 cd</span>
            </div>
            <div class="box-1--item">
              <span>75 100 cd</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">2001 - 25 000 cd</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">0 - 2000 cd</span>
            </div>
          </div>
          <div class="box-1 cat2 percent" data-percentage="75">
            <div class="box-1--graphic">
              <div class="graphic-black"></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>