<div id="tab2" class="tab-content-item">
  <div class="tabs-item">
    <div class="triangulo"></div>
    <div class="tabs-item--text">
      <span data-translatable><span>FOCAL HEIGHT</span><span>ALTURA</span></span>
      <img src="./static/assets/img/arrow.svg" alt="">
      <span data-translatable><span>TEMPO</span><span>TEMPO</span></span>
    </div>
  </div>
  <div class="box-shadow pl-15 pr-15">
    <div class="center">
      <div class="pt-30 pb-30">
        <p class="text-3" data-translatable><span>The focal height of a lighthouse beacon is indicated in meters above
            sea level and corresponds to the vertical distance between the ground level and the top of the light
            structure. In the score the focal height has been transformed through the interpretation of the tempo.
            Lighthouses with a lower focal height are interpreted at a faster tempo, while lighthouses with a higher
            focal height are interpreted at a slower tempo. </span>
          <span>La altura focal de un faro se indica en metros sobre el nivel del mar y corresponde a la distancia
            vertical
            entre el nivel del terreno y la parte superior de la estructura luminosa. En la partitura la altura focal ha
            sido transformada en el tempo de interpretación. Los faros con menor altura focal se interpretan con un
            tempo
            más rápido, los faros con mayor altura focal se interpretan con un tempo más lento.</span>
        </p>
      </div>
      <div class="legend">
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">+ 241 msnm</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Muy lento</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">121 - 240 msnm</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Lento</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">61 - 120 msnm</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Moderado</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">31 - 60 msnm</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Rápido</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">0 - 30 msnm</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Muy rápido</span>
          </div>
        </div>
      </div>
      <div class="language pl-0 pr-0">
        <div class="spanish active">
          <span data-translatable><span>FOCAL HEIGHT</span><span>ALTURA</span></span>
          <img src="./static/assets/img/language.svg" alt="" />
        </div>
        <div class="english">
          <img src="./static/assets/img/language.svg" alt="" />
          <span data-translatable><span>TEMPO</span><span>TEMPO</span></span>
        </div>
      </div>
      <!-- ALTURA -->
      <div class="d-altura" id="alturaboxes">
        <!-- <div class="box-container-items bb-dkt-3"> -->
        <!-- <div class="box-1 cat1 active">
            <div class="box-1--item">
              <span class="c-gray">+ 241 msnm</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">121 - 240 msnm</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">61 - 120 msnm</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">31 - 60 msnm</span>
            </div>
            <div class="box-1--item">
              <span>20 msnm</span>
            </div>
          </div>
          <div class="box-1 cat2">
            <div class="box-1--item">
              <span class="c-gray">Muy lento</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">Lento</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">Moderado</span>
            </div>
            <div class="box-1--item">
              <span class="c-gray">Rápido</span>
            </div>
            <div class="box-1--item">
              <span>Muy rápido</span>
            </div>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>