<div id="tab3" class="tab-content-item">
  <div class="tabs-item">
    <div class="triangulo"></div>
    <div class="tabs-item--text">
      <span data-translatable><span>PERIOD</span><span>PERIODO</span></span>
      <img src="./static/assets/img/arrow.svg" alt="">
      <span data-translatable><span>RYTHM</span><span>RITMO</span></span>
    </div>
  </div>
  <div class="box-shadow pl-15 pr-15">
    <div class="center">
      <div class="pt-30 pb-30">
        <p class="text-3" data-translatable>
          <span>The period is theass interval of time, measured in seconds, between the commencement of two identical
            successive cycles of the flash of light (L.) and the moment of eclipse (Ecl.).
            In the score, the period has been transformed into rhythm and is expressed in the alternation of aural ideas
            and the intervals of silence that follow. The duration of the flashes of light determines the extent of the
            aural ideas. The blank spaces between the aural ideas respond to the times of eclipse and indicate the
            silences in the score.
          </span>
          <span>El periodo de un faro es un intervalo de tiempo, medido en segundos, entre el inicio de dos secuencias
            idénticas de destellos de luz (L.) y momentos de eclipse (Ecl.). En la partitura el periodo se ha
            transformado
            en ritmo y se expresa en la alternancia de las ideas sonoras y los intervalos de silencio que les siguen. La
            duración de los destellos de luz determina la extensión de las ideas sonoras. Los espacios en blanco entre
            las
            ideas sonoras responden a los tiempos de eclipse y señalan los silencios en la partitura.</span>
        </p>
        <p class="text-3" data-translatable>
          <span>Aural ideas can be the clean sounds of an instrument or voice, or some other configuration of sounds.
            The name “aural ideas” rather than the word “sounds” has been used to underline that these are
            configurations —mixes, noises— and not just musical notes.</span>
          <span>Ideas sonoras pueden ser sonidos limpios de un instrumento o voz, o también alguna configuración de
            sonidos. Se ha empleado el nombre “ideas sonoras”, y no la palabra “sonidos”, para subrayar que se trata de
            configuraciones —mezclas, ruidos— y no solamente de notas musicales.</span>
        </p>
      </div>
      <div class="legend">
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">0.25’’ - 0.5’’</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <img class="w-30" src="./static/assets/img/triangulo.svg" alt="" />
            <span class="c-gray">Idea sonora corta</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">0.75’’ - 1’’</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <img class="w-30" src="./static/assets/img/cuadrado.svg" alt="" />
            <span class="c-gray">Idea sonora media</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">2’’</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <img class="w-50" src="./static/assets/img/rectangulo.svg" alt="" />
            <span class="c-gray">Idea sonora larga</span>
          </div>
        </div>
      </div>
      <div class="language pl-0 pr-0">
        <div class="spanish active">
          <span data-translatable><span>PERIOD</span><span>PERIODO</span></span>
          <img src="./static/assets/img/language.svg" alt="" />
        </div>
        <div class="english">
          <img src="./static/assets/img/language.svg" alt="" />
          <sspan data-translatable><span>RYTHM</span><span>RITMO</span></span>
        </div>
      </div>
      <!-- PERIODO -->
      <div class="d-periodo" id="periodsItems">
        <!-- <div class="box-container-items bb-dkt-3">
          <div class="box-2 cat1 active">
            <div class="grid-box-text">
              <p class="pt-0">Periodo 15 segundos</p>
              <p>3 destellos</p>
              <p class="m-0">L. 05 -- Ecl. 1.5</p>
              <p class="m-0">L. 05 -- Ecl. 1.5</p>
              <p class="m-0">L. 05 -- Ecl. 1.5</p>
            </div>
          </div>
          <div class="box-2 cat2 upper titilating" data-delay="9000" data-show="500" data-hide="1500" data-times="3">
            <div class="box-1--item">
              <img class="w-80" src="./static/assets/img/triangulo-rojo.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="box-container-items bb-dkt-3">
          <div class="box-2 cat1 active">
            <p class="pt-0">Periodo 10 segundos</p>
            <p>1 destello</p>
            <p class="m-0">L. 05 -- Ecl. 1.5</p>
          </div>
          <div class="box-2 cat2 upper titilating" data-delay="8000" data-show="500" data-hide="1500" data-times="1">
            <div class="box-1--item">
              <img class="w-80" src="./static/assets/img/triangulo-negro.svg" alt="" />
            </div>
          </div>
        </div> -->
      </div>
      <!-- RITMO -->
      <!-- <div class="d-altura">


        <div class="box-1">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/triangulo-linea.svg" alt="" />
          </div>
        </div>
        <div class="box-1">
          <div class="box-1--item">
            <img class="w-100" src="./static/assets/img/rectangulo-linea.svg" alt="" />
          </div>
        </div>
        <div class="box-1">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/cuadrado-rojo.svg" alt="" />
          </div>
        </div>
        <div class="box-1">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/triangulo-medio.svg" alt="" />
          </div>
        </div>
        <div class="box-1">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/triangulo-gris.svg" alt="" />
          </div>
        </div>
        <div class="box-1">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/triangulo-azul.svg" alt="" />
          </div>
        </div>
        <div class="box-1 bb-dkt-3">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/cuadrado-linea.svg" alt="" />
          </div>
        </div>
        <div class="box-1 bb-dkt-3">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/cuadrado-medio.svg" alt="" />
          </div>
        </div>
        <div class="box-1 bb-3">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/triangulo-amarillo.svg" alt="" />
          </div>
        </div>
        <div class="box-1 bb-3">
          <div class="box-1--item">
            <img class="w-80" src="./static/assets/img/triangulo-naranja.svg" alt="" />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>