<div id="tab4" class="tab-content-item">
  <div class="tabs-item">
    <div class="triangulo"></div>
    <div class="tabs-item--text">
      <span data-translatable><span>RANGE</span><span>ALCANCE</span></span>
      <img src="./static/assets/img/arrow.svg" alt="">
      <span data-translatable><span>TONE</span><span>TONO</span></span>
    </div>
  </div>
  <div class="box-shadow pl-15 pr-15">
    <div class="center">
      <div class="pt-30 pb-30">
        <p class="text-3" data-translatable>
          <span>All lighthouses have two types of ranges estimated in nautical miles: a nominal range and a geographic
            range. The nominal range corresponds to the maximum distance within which the brightness of a beacon is
            perceptible in a homogeneous atmosphere. Geographic range indicates the maximum visibility distance of a
            lighthouse during the day and is subject to configuration and disruptions in the terrain as well as the
            relative heights of the observer and the lighthouse. The range of the beacons gives rise to the tones of
            aural ideas. Each module incorporates the notation of these aural ideas duplicated in both levels to evoke
            the two types of ranges. Eventually a module will present its aural construct displayed on a single level
            when the nominal and geographical ranges of the corresponding lighthouse coincide. </span>
          <span>Todos los faros cuentan con dos tipos de alcances estimados en millas náuticas: un alcance nominal y un
            alcance geográfico. El alcance nominal corresponde a la distancia máxima dentro de la cual la luminosidad de
            un faro es perceptible en una atmósfera homogénea. El alcance geográfico indica la distancia máxima de
            visibilidad de un faro durante el día y está sujeto a la configuración y las interrupciones del terreno así
            como a las alturas relativas del observador y el faro. Los alcances de los faros dan lugar a los tonos de
            las ideas sonoras. Cada módulo incorpora la notación de estas ideas sonoras duplicadas en ambos niveles para
            evocar los dos tipos de alcances. Eventualmente algún módulo presentará las ideas sonoras desplegadas en un
            solo nivel cuando los alcances nominal y geográfico del faro correspondiente coincidan.</span>
        </p>
      </div>
      <div class="legend">
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">24 - 27 millas</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Bajo</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">19 - 23 millas</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Semi bajo</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">14 - 18 millas</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Medio</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">9 - 13 millas</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Semi alto</span>
          </div>
        </div>
        <div class="legend--item">
          <div class="info">
            <span class="c-gray">4 - 8 millas</span>
          </div>
          <img class="arrow" src="./static/assets/img/arrow.svg" alt="" />
          <div class="info">
            <span>Alto</span>
          </div>
        </div>
      </div>
      <div class="language pl-0 pr-0">
        <div class="spanish active">
          <span data-translatable><span>RANGE</span><span>ALCANCE</span></span>
          <img src="./static/assets/img/language.svg" alt="" />
        </div>
        <div class="english">
          <img src="./static/assets/img/language.svg" alt="" />
          <span data-translatable><span>TONE</span><span>TONO</span></span>
        </div>
      </div>
      <!-- ALCANCE -->
      <div class="d-altura" id="rangeBoxes">
        <!-- <div class="box-container-items bb-dkt-3">
          <div class="box-1 cat1 moving active" data-param1="semi-alto-medio" data-param2="alto-medio">
            <div class="box-1--item" style="overflow: hidden;">
              <span class="upper">13 millas</span>
            </div>
            <div class="box-1--item" style="overflow: hidden;">
              <span class="downer">9 millas</span>
            </div>
          </div>
          <div class="box-1 cat2 double">
            <div class="box-1--item"></div>
            <div class="box-1--item"></div>
            <div class="box-1--item"></div>
            <div class="box-1--item"></div>
            <div class="box-1--item"></div>
            <img class="graphic-tono" src="./static/assets/img/triangulo-rojo.svg" alt="" />
            <img class="graphic-tono" src="./static/assets/img/triangulo-rojo.svg" alt="" />
          </div>
        </div> -->
      </div>
      <!-- TONO -->
    </div>
  </div>
</div>